<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="aservice" class="com.test.service.AServiceImpl">
        <property type="String" name="property1" value="Hello World!"/>
        <property type="String" name="property2" value="Someone says"/>
        <constructor-arg type="String" name="name" value="abc"/>
        <constructor-arg type="int" name="level" value="3"/>
        <constructor-arg type="com.test.service.ConstructorArgService" name="constructorArgService" ref="constructorargservice"/>
        <property type="com.test.service.BaseService" name="ref1" ref="baseservice"/>
    </bean>
    <bean id="bbs" class="com.test.service.BaseBaseService">
        <property type="com.test.service.AServiceImpl" name="as" ref="aservice"/>
    </bean>
    <bean id="baseservice" class="com.test.service.BaseService">
<!--        <property type="BaseBaseService" name="bbs" ref="basebaseservice"/>-->
    </bean>
    <bean id="constructorargservice" class="com.test.service.ConstructorArgService">
        <constructor-arg type="int" name="i" value="1"/>
        <constructor-arg type="String" name="s" value="s"/>
    </bean>

    <bean id="autowiredAnnotationBeanPostProcessor" class="com.minis.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="webBindingInitializer" class="com.test.DateInitializer" />

    <bean id="messageConverter" class="com.minis.http.converter.DefaultHttpMessageConverter">
        <property type="com.minis.util.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>
    <bean id="objectMapper" class="com.minis.util.DefaultObjectMapper" >
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>

    <bean id="viewResolver" class="com.minis.web.servlet.view.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

<!--    <bean id="dataSource" class="com.minis.jdbc.datasource.SingleConnectionDataSource">-->
<!--        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>-->
<!--        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>-->
<!--        <property type="String" name="username" value="test"/>-->
<!--        <property type="String" name="password" value="123456"/>-->
<!--    </bean>-->

    <bean id="jdbcTemplate" class="com.minis.jdbc.core.JdbcTemplate" >
        <property type="javax.sql.DataSource" name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="com.minis.jdbc.pool.PooledDataSource">
        <property type="String" name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property type="String" name="url" value="jdbc:mysql://127.0.0.1:3306/test"/>
        <property type="String" name="username" value="test"/>
        <property type="String" name="password" value="123456"/>
        <property type="int" name="initialSize" value="3"/>
    </bean>

    <bean id="sqlSessionFactory" class="com.minis.batis.DefaultSqlSessionFactory" init-method="init">
        <property type="String" name="mapperLocations" value="mapper"></property>
    </bean>

    <bean id="userService" class="com.test.service.UserService">
        <property type="com.minis.jdbc.core.JdbcTemplate" name="jdbcTemplate" ref="jdbcTemplate"/>
        <property type="com.minis.batis.SqlSessionFactory" name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>

    <bean id="action" class="com.test.service.Action1" />
    <bean id="action2" class="com.test.service.Action2" />

    <bena id="myBeforeAdvice" class="com.test.service.MyBeforeAdvice"/>
    <bean id="myAfterAdvice" class="com.test.service.MyAfterAdvice"/>
    <bean id="advisor" class="com.minis.aop.NameMatchMethodPointcutAdvisor">
        <property type="com.minis.aop.Advice" name="advice" ref="myBeforeAdvice"/>
        <property type="String" name="mappedName" value="do*"/>
    </bean>
<!--    <bean id="action" class="com.minis.aop.ProxyFactoryBean">-->
<!--        <property type="String" name="interceptorName" value="advisor" />-->
<!--        <property type="java.lang.Object" name="target" ref="realaction"/>-->
<!--    </bean>-->

    <bean id="autoProxyCreator" class="com.minis.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <property type="String" name="pattern" value="action*"/>
        <property type="String" name="interceptorName" value="advisor"/>
    </bean>
</beans>